body{
    background-image: url("images/background.jpg");
    background-size: cover;
}
img{
    max-width: 6rem;
    height: 9rem;
    margin:0.5%
}
.btn_top{
    margin-top: 20% ;
}
#escolherNome{
    text-align: center;
}
#bet_div{
    text-align: center;
    padding-top: 10%;
}
#play{
    height: 36rem;
    padding: 5% 5% 0;
    display: grid;
    row-gap: 2%;
    grid-template: 30% 30% 30% /20% 80%;

}
#c_deck{
    grid-row-end: span 3;
    align-self: center;
}
#jogadas{
    gap: 1rem;
}
nav{
    color: white;
}
.resultado{
    background: rgba(255, 255, 255, 0.6);
}
@keyframes move_card {
    from{transform: rotateY(0deg)}
    to{transform: rotateY(180deg);}
}
.rotate_card{
    animation: move_card 1s;
    
}