body{
    background-image: url("images/background.jpg");
    background-size: cover;
    user-select: none;
}
#sidebar{
    position: fixed;
    top: 3.5rem;
    right: 0;
    height: 95%;
    width: 15rem;
    background-color: #2c2b2b;
    padding: 1rem;
    text-align: center;
}
#bet_div{
    text-align: center;
    padding-top: 1rem;
}
#label_bet{
    color: white;
}
#resultados{
    color: white;
}
.white_txt{
    color: white;
}
img{
    max-width: 6rem;
    height: 9rem;
    margin:0.5%;
    position: relative;

}
.btn_top{
    margin-top: 10% ;
}
#escolherNome{
    margin: 13rem 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#Nome{
    margin-bottom: 0.5rem;
}
#label_nome{
    color: white;
}
#play{
    height: 36rem;
    padding: 5% 15rem 0 5%;
    display: grid;
    row-gap: 2%;
    grid-template: 30% 30% 30% /20% 80%;
}
#c_deck{
    grid-row-end: span 3;
    align-self: center;
}
#jogadas{
    margin: 0 15rem;
    gap: 1rem;
}
nav{
    color: white;
}
@media (orientation: portrait) {
    body::before{
        content: "Rode o seu dispositivo";
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,1);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        z-index: 999;
    }
}
@media screen and (max-height: 500px){
    html{
        font-size: 10px;
    }
}